@charset "utf-8";

/*==================================================
filename: element.css
Auther: Division one a.k.a. Satoshi KOMATSU
Version:1.00
Last update: 2011/11/26
====================================================*/


/* clearfix
===================================================*/
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   height: 0;
   visibility: hidden;
}
.clearfix { display: inline-block; }
/* exlude MacIE5 \*/
* html .clearfix { height: 1% }
.clearfix {display:block;}
/* end MacIE5 */


/* element
===================================================*/

/* common parts */

.clear{
clear:both;
}

.skipnavi{
display:none;
}

.left{
float:left;
}

.right{
float:right;
}

p.indentP{
display:block;
margin-left:1em;
}

.madbtn{
margin:75px 0 0 0;
}

/* margin-padding */

.m40t{
margin-top:40px;
}
.m60t{
margin-top:60px;
}

.rednotice{
color:#f00;
font-weight:bold;
}

/* table close type */

section table{
width:100%;
font-size:100%;
border-collapse:collapse;
border-spacing:0;
}

section table td{
border-bottom:1px #d1cece dotted;
}

section table td{
padding:10px 0;
text-align:right;
}

section table td.tdodd{
width:90%;
text-align:left!important;
}

section table td.bdr{
padding:0!important;
background:url(../img/dot.gif) repeat-x;
}
/* list */

ul.course{
margin:0;
padding:0;
}

ul.course li{
list-style-type:none;
line-height:0;
}

ul.list li{
list-style-type: disc;
}
ol li{
list-style-type: decimal;
}

div.titlebg_5th ul.titlelist{
margin:8px 0 0 0;
padding:0;
}

ul.titlelist li{
float:left;
margin-right:3px;
}

/* dl list */
#topics dl{
clear:both;
padding:20px 0;
border-bottom:1px dotted #333;
}

#topics dl dt{
float:left;
width:89px;
padding:0 0 0 30px;
background:url(../../img/icon_arrow.gif) no-repeat;
border-right:1px solid #333;
}

#topics dl dd{
margin-left:120px;
padding:0 20px;
width:auto;
}

#topics dl dd p,
#topics dl dd div{
margin:0;
padding:0;
}