@charset "utf-8";

/*==================================================
filename: module.css
Auther: Division one a.k.a. Satoshi KOMATSU
Version:1.00
Last update: 2012/02/13
====================================================*/


/* Block parts */

section{
clear:both;
padding:0 0 40px 0;
}

section p{
line-height:200%;
margin-bottom:1em;
}

/* h1- h6
===================================================*/
h1{

}


h2,h3{
margin:0 0 40px 0;
color:#05244b;
font-size:125%;
font-weight:bold;
}

