@charset "utf-8";

.pro-uploadbtn,
.pro-uploadbtn .inner{
	width: 208px;
}

.pro-uploadbtn .pro-btn-s {
	width: 205px;
}

* html .pro-uploadbtn  {
	padding-bottom: 10px;
}

* html .pro-img-strage p.fl {
	margin-bottom: 5px;
}

* html .pro-uploadbtn {
	width: 228px;
	width: 207px;
	height: 24px;
}

* html  .pro-uploadbtn .inner {
	width: 228px;
}

*:first-child+html .pro-uploadbtn {
	width: 207px;
	height: 24px;
}

*:first-child+html  .pro-uploadbtn .inner {
	width: 228px;
}


/*
	img_strage common
------------------------------------ */
.js-fileInfoContainer{
	margin:0 auto;
	text-align: center;
}

.ctrlbar {
	padding: 5px 10px;
	vertical-align: top;
}

.ctrlbar .inb {
	float: left;
	margin: 5px 5px 0 0;
}

.ctrlbar .inb img {
	margin-right: 3px;
	vertical-align: middle;
}

.ctrlbar .pro-btn-s {
	margin-top: 5px;
}

/* meter-box */
.meter-box {
	height: 22px;
	margin: 20px 0;
	position: relative;
	width: 100%;
}

.meter-box-in {
	position: absolute;
	right: 10px;
	top: 0;
	width: 450px;
}

.meter-text {
	float: left;
	margin-top: 3px;
	text-align: right;
	width: 230px;
}

.meter-box-item,
.meter-value {
	height: 15px;
	overflow: hidden;
	width: 210px;
}

.meter-box-item {
	background-color: #fff;
	border: 1px solid #000;
	float: right;
	padding: 1px;
}

.meter-value {
	background-color: #1755b8;
	background-image: -moz-linear-gradient(top, #021b80, #5390e3);
	background-image: -o-linear-gradient(top, #021b80, #5390e3);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#021b80), to(#5390e3));
	background-image: -webkit-linear-gradient(top, #021b80, #5390e3);
	background-image: -ms-linear-gradient(top, #021b80, #5390e3);
	background-image: linear-gradient(top, #021b80, #5390e3);
}

.notfound {
	padding: 40px 0;
	text-align: center;
}

/* paging-area */
.paging-area {
	margin-top: 25px;
}

.paging li {
	color: #999999;
	display: inline;
}

.paging li.paging-next {
	border-left: 1px solid #000000;
	padding: 0 15px 0 7px;
}

.paging li.paging-prev {
	padding: 0 7px 0 14px;
}

.paging-area .paging {
	margin-top: 30px;
	text-align: center;
}

.main-paginglist dt {
	padding: 8px 0;
}

.main-paginglist ol li {
	margin: 0 1px;
}

.main-paginglist {
	text-align: center;
}

.main-paginglist dt,
.main-paginglist dd,
.main-paginglist ol,
.main-paginglist ol li {
	display: inline;
}

.main-paginglist ol li strong,
.main-paginglist ol li a {
	border: 1px solid #CCCCCC;
	padding: 8px 9px;
	zoom:1
}

.main-paginglist ol li.now strong,
.main-paginglist ol li a:hover {
	background-color: #FFF550;
}

.main-paginglist ol li.prev strong,
.main-paginglist ol li.next strong {
	background-color: #F0F0F0;
	color: #999999;
	font-weight: normal;
}

.pro-uploadbtn-read {
	width: 540px;
}

/* page controle menu */
.key-world {
	padding: 13px 10px;
	vertical-align: top;
}
.key-world .pro-input {
	width: 450px;
	margin: 0 10px;
}
#submitBox {
	float: left;
}

#submitBox li {
	float: left;
}

#submitBox .pro-btn-s{
	height:25px;
	margin: 0;
	margin-right: 10px;
}

.pro-table-imglist th {
	text-align: left!important;
	width: 170px;
	padding: 0 10px;
	vertical-align: middle;
}

.pro-table-imglist td {
	padding: 8px 10px;
}

.pro-table-imglist td.firstchild {
	width: 150px;
	max-width: 150px;
}

/*
	list_h
------------------------------------ */
.empty-txt {
	height: 120px;
	line-height: 120px;
	text-align: center;
}

.ph-tab-list {
	padding: 10px 0 5px 8px;
	overflow: hidden;
	border-bottom: 3px solid #000;
	margin: 0 0 5px;
}

.ph-tab-list .tab {
	float: left;
	margin: 0 5px 5px 0;
	width: 118px;
	padding-left: 2px;
	overflow: hidden;
}

#tab-no-active .tab {
	margin-bottom: 5px;
}

.ph-tab-list .tab a,
.ph-tab-list .tab span {
	text-align: center;
	font-size: 12px;
	display: block;
	width: 108px;
	overflow: hidden;
	padding: 10px 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #fdfdfd;
}

.ph-tab-list .tab a {
	border: 1px solid #c6c6c6;
}

.ph-tab-list .tab span {
	border: 2px solid #333;
	padding-top: 9px;
	padding-bottom: 9px;
}

.ph-tab-list .tab a:link,
.ph-tab-list .tab a:visited,
.ph-tab-list .tab a:hover,
.ph-tab-list .tab a:active {
	color: #07519a;
}

.ph-tab-list .tab a {
	background: #fdfcfc;
	background: -moz-linear-gradient(top, #fdfcfc 0%, #f4f4f4 47%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfcfc), color-stop(47%, #f4f4f4), color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(top, #fdfcfc 0%, #f4f4f4 47%, #eeeeee 100%);
	background: -o-linear-gradient(top, #fdfcfc 0%, #f4f4f4 47%, #eeeeee 100%);
	background: -ms-linear-gradient(top, #fdfcfc 0%, #f4f4f4 47%, #eeeeee 100%);
	background: linear-gradient(to bottom, #fdfcfc 0%, #f4f4f4 47%, #eeeeee 100%);
}

.ph-tab-list .tab a:active {
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #f4f4f4 47%, #fdfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(47%, #f4f4f4), color-stop(100%, #fdfcfc));
	background: -webkit-linear-gradient(top, #eeeeee 0%, #f4f4f4 47%, #fdfcfc 100%);
	background: -o-linear-gradient(top, #eeeeee 0%, #f4f4f4 47%, #fdfcfc 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%, #f4f4f4 47%, #fdfcfc 100%);
	background: linear-gradient(to bottom, #eeeeee 0%, #f4f4f4 47%, #fdfcfc 100%);
}

.ph-tab-list .tab span {
	background-color: #fff;
}

.btn-no-active {
	min-width: 6em;
	position: relative;
	padding-left: 2.5em;
	padding-top: 3px;
	padding-bottom: 0;
	margin: 0;
	margin-top: -3px;
}

.photo-btn-list .btn-frm {
	float: left;
	margin-top: 10px;
	width: 12em;
}

.photo-btn-list .last {
	margin-right: -5px;
	margin-top: -57px;
}

.photo-btn-list .first {
	margin-right: 10px;
}

.photo-btn-list .btn-frm .pro-btn-s {
	width: 100%;
	padding: 8px;
	text-align: center;
}

.ctrlbar .pro-btn-s,
.ctrlbar .ctrl-txt {
	float: left;
	margin-top: 5px;
}

.ctrlbar .ctrl-txt {
	margin-top: 8px;
}

.add-btn {
	margin: 56px 0 12px;
}

* html .add-btn {
	margin: 48px 0 12px;
}

.is-list-h {
	margin:0;
	margin-left: 2px;
}
.is-edit {
	background-color: #fff;
}
.is-list-h .is-edit {
	width: 188px;
	height: 320px;
	margin: 0;
	margin-top: 10px;
	margin-right: -1px;
	border: 1px solid #000;
	float: left;
	text-align: center;
	zoom:1;
}

.is-edit-checked {
	background-color: #fffeee;
}

.is-list-h .is-edit .pro-p {
	margin: 0 auto 10px;
}

.is-list-h .is-edit .con p {
	vertical-align: middle;
}

.is-list-h .is-edit .con .pro-btn-s {
	display: inline-block;
	margin: 0;
	/*width: 140px;*/
}

.is-list-h .is-edit .con span {
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
}

.is-list-h .con {
	margin: 0 15px;
}

.is-list-h .con .name {
	height: 4.8em;
	/*overflow: auto;*/
	text-align: left;
	word-break: break-all;
	word-wrap: break-word;
}

.is-list-h .con .name .btn-disabled {
	display: none;
}

.is-list-h .con .btn-list li {
	margin-bottom: 10px;
}

.is-list-h .con .pro-txt3 {
	margin-bottom: 12px;
}


.is-list-h .edit-check {
	border-bottom: 1px solid #000;
	padding: 5px 0;
}

.is-list-h .edit-check .summary {
	text-align: left;
}

.is-list-h .edit-check .pro-label {
	display: block;
	text-align: center;
	margin: 0;
}

.is-list-h .edit-check .pro-label input[type="checkbox"] {
	margin: 0;
}

/*
	list_v
------------------------------------ */
.pro-table-menu,
.m-table {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 100%;
}

/* for IE7 */
*:first-child+html .pro-table-menu {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 100%;
}

.pro-table-menu td,
.m-table th,
.m-table td {
	border-left: 1px solid #000;
}

.m-table th,
.m-table td {
	padding: 3px;
	text-align: left;
}

.pro-table-menu .pro-t-frm {
	width: 405px;
	vertical-align: top;
}

.pro-table-menu .frm {
	padding: 10px;
}

.pro-table-menu .pro-t-check {
	text-align: center;
	vertical-align: middle;
	width: 30px;
}

.pro-table-menu .pro-t-check .pro-checkbox {
	display: block;
	margin: 10px auto 0;
}

.pro-table-menu .pro-t-check .pro-label {
	display: inline-block;
	margin: 0;
	text-align: center;
	width: 30px;
	min-height: 180px;
	vertical-align: middle;
	position: relative;
}

.pro-table-menu .pro-t-check .pro-checkbox {
	position: absolute;
	top: 45%;
	left: 0;
	margin-left: 10px;
}

/* for IE6 */
* html .pro-table-menu .pro-t-check .pro-checkbox  {
	margin-left: 5px;
}

c.pro-table-menu .pro-t-check .pro-checkbox  {
	margin-left: 5px;
}

/* for IE9 */
.pro-table-menu .pro-t-check .pro-checkbox:not(:target){
	margin-left: 5px\0/;
}

.is-p-frm {
	padding: 10px;
}

.is-list-v .is-edit:first-child {
	border-top: 1px solid #000;
}

/* for IE7 */
*:first-child+html .is-list-v .is-edit:first-child {
	border-top: none;
}

* html .is-list-v .is-edit {
	margin-top: -3px;
}

/* for IE7 */
*:first-child+html .is-list-v .is-edit {
	margin-top: -7px;
}

.is-list-v .is-edit .name {
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
}
.is-list-v .name .pro-btn-s{
	margin: 0;
	margin-left: 10px;
	vertical-align: bottom;
}

.is-p-frm {
	vertical-align: middle;
}

.is-p-frm .pro-p {
	margin: 0;
}

.is-btn-frm {
	width: 141px;
	text-align: center;
	vertical-align: middle;
}

.is-btn-frm .pro-txt3 {
	padding: 0 5px;
}

* html .is-btn-frm .pro-txt3 {
	padding: 0 7px;
}

/* for IE7 */
*:first-child+html .is-btn-frm .pro-txt3 {
	padding: 0 8px;
}

.is-btn-frm .btn-list li a {
	width: 75%;
	margin: 0;
	margin-bottom: 10px;
}

.is-btn-frm .pro-btn-s {
	margin: 0;
}

.is-spec-list {
	margin-bottom: 10px;
}

.is-spec-list dd {
	margin-right: 20px;
}

.is-tag-frm dt,
.is-tag-frm dd {
	float:left;
}

.is-tag-frm dt {
	margin-bottom: 10px;
	width: 15%;
}

.is-tag-frm dd {
	width: 90%;
}

.is-tag-list li {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

/* for IE6 */
* html .is-tag-list li {
	height: 25px;
}

.is-tag-list li .slc {
	min-width: 60px;
	border: 1px solid #000;
	white-space: nowrap;
	background-color: #fefbeb;
	padding: 4px 28px 4px 5px;
	text-align: center;
	position: relative;
	display: block;
}


.is-tag-list li .tab-disabled {
	background-color: #E7E4E4;
	padding: 4px 5px;
}

.is-tag-list li a:hover {
	position: relative;
}

.is-tag-list li a:link,
.is-tag-list li a:visited,
.is-tag-list li a:hover,
.is-tag-list li a:active {
	color: #000;
	text-decoration: none;
}

.is-tag-list .pro-btn-s {
	margin: 0;
}

.is-tag-list li .pro-icon {
	position: absolute;
	right: 5px;
	top: 4px;
}

.pro-img-strage-bg{
	background: #f4f4f4;
	padding: 5px;
}

.pro-img-strage-nav th{
	vertical-align: middle;
	padding: 0;
	text-align: center;
	width: 82px;
}

.pro-img-strage-nav th,
.pro-img-strage-nav td{
	font-size: 90%;
}

.use-status-area,
.group-status-area {
	padding-left: 100px;
}

.use-status,
.group-status{
	display: inline-block;
	text-align: center;
	margin-bottom: 2px;
	margin-right: 10px;
	padding: 2px;
	width: 90px;
	margin-left: -105px;
}

.on-status{
	background: #555555;
	color: #fff;
}

.group-ctrlbar {
	margin-left: 95px;
	vertical-align: top;
}

.size-emote{
	background: url('../img/size_icon.png') no-repeat;
	padding-left: 30px;
}

.btn-disabled .size-emote{
	background: url('../img/size_icon_non.png') no-repeat;
	padding-left: 30px;
}

.padding-btn{
	padding: 6px 10px;
}

.size-padding{
	padding: 7px 10px 5px 5px;
}

.group-icon-pos{
	display: inline-block;
	margin-top: 6px;
}

.sort-list{
	overflow: hidden;
}

.list-icon{
	background: url('../img/list_icon.png') no-repeat;
	padding: 1px 0 0 17px;
	display: inline-block;
}

.thumbs-icon{
	background: url('../img/thumbs_icon.png') no-repeat;
	padding: 1px 0 0 17px;
	display: inline-block;
}

.used-full{
	display: inline-block;
	background: #cf2b2b;
	color: #fff;
	padding: 3px 5px;
}

.cut-icon{
	background: url('../img/cut_icon.png') no-repeat;
	background-position: left center;
	padding-left: 20px;
}

.w350{
	width: 350px;
}

.inner-height{
	height: 50px;
}

/* add 2015/06/18 */

/* float */
table.upload-notiice th{
  text-align: left;
		padding: 20px;
		vertical-align: middle;
}

table.upload-notiice td{
	 padding: 20px;
}

/* upload */
.upload-container{
	margin-top: 20px;
	padding: 15px 10px 5px 10px;
}
.upload-ddhandler{
	/* background-color: #fff; */
	border: 2px dashed #000;
	text-align: center;
}
.upload-ddhandler_bgcolor{
	background-color: #fff;
}

.upload-ddhandler p{
	font-size: 14px;
	padding: 30px;
	font-weight: bold;
}

.js-upload-disabled{
	display: none;
}

 .progress-box-item,.uploading,.succes-upload,.error-message-accepted,.error-message-filecount{
		display:none;
	}

	/* progress-box */

	.progress-value,
	.progress-box-item {
		height: 15px;
		overflow: hidden;
		width: 210px;
	}

	.progress-box-item {
		background-color: #fff;
		border: 1px solid #000;
		margin: 0 auto;
		padding: 1px;
		text-align: center;
	}
	
	.progress-value {
		/*background-color: #1755b8;
		background-image: -moz-linear-gradient(top, #021b80, #5390e3);
		background-image: -o-linear-gradient(top, #021b80, #5390e3);
		background-image: -webkit-gradient(linear, center top, center bottom, from(#021b80), to(#5390e3));
		background-image: -webkit-linear-gradient(top, #021b80, #5390e3);
		background-image: -ms-linear-gradient(top, #021b80, #5390e3);
		background-image: linear-gradient(top, #021b80, #5390e3);*/

		-webkit-background-size: 17px 17px;
		-moz-background-size: 17px 17px;
		background-size: 17px 17px;
		background-color: #73a3e6;
		background-image: -webkit-gradient(linear, 0 100%, 100% 0,
		            color-stop(.25, #508ce0), color-stop(.25, transparent),
		            color-stop(.5, transparent), color-stop(.5, #508ce0),
		            color-stop(.75, #508ce0), color-stop(.75, transparent),
		            to(transparent));
		background-image: -webkit-linear-gradient(45deg, #508ce0 25%, transparent 25%,
		          transparent 50%, #508ce0 50%, #508ce0 75%,
		          transparent 75%, transparent);
		background-image: -moz-linear-gradient(45deg, #508ce0 25%, transparent 25%,
		          transparent 50%, #508ce0 50%, #508ce0 75%,
		          transparent 75%, transparent);
		background-image: -ms-linear-gradient(45deg, #508ce0 25%, transparent 25%,
		          transparent 50%, #508ce0 50%, #508ce0 75%,
		          transparent 75%, transparent);
		background-image: -o-linear-gradient(45deg, #508ce0 25%, transparent 25%,
		          transparent 50%, #508ce0 50%, #508ce0 75%,
		          transparent 75%, transparent);
		background-image: linear-gradient(45deg, #508ce0 25%, transparent 25%,
		          transparent 50%, #508ce0 50%, #508ce0 75%,
		          transparent 75%, transparent);
	}
